<table>
	<thead>
		<tr>
			<th *ngFor="#th of ths" (click)="sort(th.a)">
				<span>{{th.n}}</span>
				<i class="arrow">
					<i [style.display]="order[th.a+'A']?'inline-block':'none'" class="material-icons">arrow_drop_up</i>
					<i [style.display]="order[th.a+'D']?'inline-block':'none'" class="material-icons">arrow_drop_down</i>
				</i>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#quote of quotes">
			<th>{{quote.Symbol}}</th>
			<td>{{quote.Name}}</td>
			<td>{{quote.LastTradePriceOnly}}</td>
			<td>{{quote.MarketCapitalization}}</td>
		</tr>
	</tbody>
</table>
