table {
	width: 100%;
	font-family: 'Lato', sans-serif;
	border-collapse: collapse;
	th, td {
		padding: 1rem 2rem;
	}
	thead {
		background-color: #ff8a80;
		th {
			cursor: default;
			&:hover {
				color: #fff;
				fill-color: #fff;
				background-color: #d50000;
			}
			.arrow {
				display: inline-block;
				width: 0px;
				i {
					font-size: 18px;
					line-height: 0;
				}
			}
		}
	}
	tbody tr {
		&:nth-of-type(odd) {
			background-color: #eee;
		}
		&:hover {
			color: #fff;
			background-color: #ff5252;
		}
	}
	[colspan="4"] {
		padding-bottom: 0;
	}
}
input {
	width: 100%;
	background-color: inherit;
	outline: 0;
	border: 0;
	font-size: 2rem;
	border-bottom: 2px solid;
}
